:root{
   --cor-preto: hsl(0, 0%, 0%);
   --cor-branco: hsl(0, 0%, 100%);
   --cor-azulado: hsl(217, 12%, 38%);
   --cor-acinzelado:  hsl(0, 4%, 10%);
   --cor-branco-off: hsl(0, 35%, 91%);
   --cor-azul: hsl(218, 25%, 47%);
   --cor-azul-escuro: hsl(195, 91%, 25%);
   --cor-cinza:  hsla(180, 100%, 94%, 0.25);

   --fonte-titulo: 'Mulish', sans-serif;
   --font-corpo: 'Mulish', sans-serif;
}


.container {display:flex ;}

.lista-artigos {
    display: block;
}

.artigo-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    padding: 10px 0;
    text-decoration: none;
    color: var(--cor-acinzelado);
    border-bottom: 1px solid var(--cor-branco);
}

.artigo-item img {
    width: 100px;
    height: 80px;
    padding-left: 5px;
    object-fit: cover;
    margin-right: 15px;
    align-items: inherit;
    
}

.conteudo-flex {
    flex-grow: 1;
}
 
.conteudo-flex h3 {
    color: var(--cor-acinzelado);
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1em;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.4;
}

.conteudo-flex p {
    color: var(--cor-acinzelado);
    margin-top: 0;
    font-size: 1rem;
}



html, body {
    height: 100%;
    font-family: var(--font-corpo);
    font-family: var(--fonte-titulo);
}

.rodape {
    background-color: var(--cor-azul);
    padding-bottom: 5px;
    padding-top: 5px;
    
}

.rodape p {
    color: var(--cor-branco-off);
    text-align: center;
}



.top-barra {
    background:  var(--cor-azul-escuro);
    width: 90%; 
    height: auto;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    display: flex;  
    align-items: center;
    
    gap: 12px;
    position: absolute;
    

}

.top-barra input {
    flex: 1;
    padding: 8px;
    border: none;
    background: var(--cor-cinza);
    color: var(--cor-branco);
}

.top-barra input::placeholder {
    color:var(--cor-branco);
    opacity: 0.8;
}

.icone-esquerda, .icone-direita {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.imagem {
    
    display: block;
    width: 100%;
    
}
