:root{
   --cor-preto: hsl(0, 0%, 0%);
   --cor-branco: hsl(0, 0%, 100%);
   --cor-azulado: hsl(217, 12%, 38%);
   --cor-acinzelado:  hsl(0, 4%, 10%);

   --fonte-titulo: 'serif', sans-serif;
   --font-corpo: 'Times New Roman', sans-serif;
}


.container {display: flex align-items;}

.lista-artigos {
    display: block;
}

.artigo-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    padding: 10px 0;
    text-decoration: none;
    color: var(--cor-acinzelado);
    border-bottom: 1px solid var(--cor-branco);
}

.artigo-item img {
    width: 100px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
    flex-shrink: 0;
}

.conteudo-flex {
    flex-grow: 1;
}
 
.conteudo-flex h3 {
    color: var(--cor-acinzelado);
    font-family: var(--fonte-titulo);
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1em;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.4;
}

.conteudo-flex p {
    color: var(--cor-acinzelado);
    font-family: var(--font-corpo);
    margin-top: 0;
    font-size: 1rem;
}

section p {
    font-family: var(--font-corpo);
}

section h2 {font-family: var(--fonte-titulo);}

html, body {
    height: 100%;
}