:root{
   --cor-preto: hsl(0, 0%, 0%);
   --cor-branco: hsl(0, 0%, 100%);
   --cor-azulado: hsl(217, 12%, 38%);
   --cor-acinzelado:  hsl(0, 4%, 10%);
   --cor-branco-off: hsl(0, 35%, 91%);
   --cor-azul: hsl(218, 25%, 47%);
   --cor-azul-escuro: hsl(195, 91%, 25%);
   --cor-cinza:  hsla(180, 100%, 94%, 0.25);

   --font-corpo: 'Mulish', sans-serif;
}

html, body {
    height: 100%;
    font-family: var(--font-corpo);
    color: var(--cor-acinzelado);
}

.curtir {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
    margin: 10px 0 20px;
    align-items: center;  
}

.icone-acao {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.lista-artigo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artigo-item {
    display:flex;
    align-items: flex-start;
    gap: 12px;
    padding: 10px 0;
    text-decoration: none;
    color: inherit;
}

.artigo-item h3, .artigo-item p {
    color: var(--cor-acinzelado);
}

.artigo-item img {
    width: 90px;
    height: 70px;
    object-fit: cover;
    border-radius: 4px;
}

.conteudo-flex {
    flex: 1;
}

.conteudo-flex h3 {
    margin: 0 0 5px;
    font-size: 1.1rem;
    line-height: 1.4;
    color: var(--cor-acinzelado);
}

.conteudo-flex p {
    margin-top: 0;
    font-size: 1rem;
}

.rodape {
    background-color: var(--cor-azul);
    padding: 5px 0;
}

.rodape p {
    color: var(--cor-branco-off);
    text-align: center;
}

.top-barra {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;

    background: var(--cor-azul-escuro);
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.top-barra input {
    flex: 1;
    padding: 8px;
    border: none;
    background: var(--cor-cinza);
    color: var(--cor-branco);
}

.top-barra input::placeholder {
    color: var(--cor-branco);
    opacity: 0.8;
}

.icone-esquerda, .icone-direita {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.imagem {
    width: 100%;
    display: block;
}